---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Pill from "../../components/Pill.astro";

import { getCollection } from "astro:content";
const blogs = await getCollection("blog");

const uniqueAuthors = [...new Set(blogs.flatMap((blog) => blog.data.authors))];
---

<BaseLayout pageTitle="Tags">
    <div class="flex flex-wrap gap-2">
        {
            uniqueAuthors.map((author) => (
                <Pill
                    classes="text-base px-3 py-1.5"
                    href={`/authors/${author}`}
                    text={author}
                />
            ))
        }
    </div>
</BaseLayout>
