@font-face {
    font-family: Inter;
    src: url("/fonts/inter-latin.woff2") format("woff2");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: JetBrains Mono;
    src: url("/fonts/jetbrains-mono-latin.woff2") format("woff2");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}
