@layer theme, base, prose,components, utilities;

@import "./font.css";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./prose.css";

@theme {
    --font-sans: Inter, sans-serif;
    --font-mono: JetBrains Mono, monospace;
}

:has(.menu[aria-expanded="true"]) .nav-links {
    display: flex;
}

body {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

@layer base {
    html {
        font-feature-settings: "ss02";
        scroll-behavior: smooth;
    }
    body {
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
}
