@layer prose {
    .prose {
        @apply w-full tracking-wide text-gray-900 lg:max-w-3xl lg:text-lg;
    }

    .prose > p,
    .prose > blockquote > p {
        @apply my-4;
    }
    .prose > blockquote {
        @apply pl-4;
        border-left: 1px solid;
    }

    .prose > hr {
        @apply my-8 border-gray-300;
    }

    .prose > h2 {
        @apply mb-4 mt-8 text-2xl font-semibold;
    }

    .prose > h3 {
        @apply mb-4 mt-10 text-2xl font-semibold leading-tight;
    }

    .prose > img {
        @apply my-4;
    }

    .prose strong {
        @apply font-medium text-black;
    }

    /*.prose ul {
        @apply my-4 pl-8;
    }*/

    .prose ul li {
        @apply list-disc ml-8 marker:mr-20;
    }

    .prose ol {
        @apply my-4 list-decimal ml-8 pl-4;
    }
    .prose ol ::marker {
        @apply font-mono inline-block font-bold text-yellow-700;
    }

    /* Workaround for when li first node is wrapped in a p */
    .prose li > p:first-child {
        @apply inline-block;
    }

    .prose li {
        @apply my-0.5;
    }

    .prose :where(a) {
        @apply text-pink-500 underline underline-offset-2 hover:no-underline;
    }

    .prose :where(code):not(:where(pre, h1, h2, h3, h4, h5, h6) code) {
        @apply mx-0.5 inline-block rounded-lg bg-gray-500 px-2 align-baseline text-sm leading-6 text-gray-100;
    }

    .prose > p a > code {
        @apply text-inherit;
        text-decoration: inherit;
    }

    .prose .expressive-code {
        @apply my-6;
    }

    .prose table {
        @apply overflow-auto border-spacing-0 text-sm sm:text-base w-full;
    }
    .prose tr {
        @apply w-full;
    }
    .prose :is(th, td) {
        @apply border-b border-gray-500 py-2 px-4 align-baseline;
    }
    .prose :is(th, td):first-child {
        @apply pl-0;
    }
    .prose :is(th, td):last-child {
        @apply pr-0;
    }
    .prose th {
        @apply text-white font-medium;
    }
    .prose th:not([align]) {
        @apply text-start;
    }
}
