---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Pill from "../../components/Pill.astro";

import { getCollection } from "astro:content";
const blogs = await getCollection("blog");

const uniqueTags = [...new Set(blogs.flatMap((blog) => blog.data.tags))];
---

<BaseLayout title="Tags">
    <div class="flex flex-wrap gap-2">
        {
            uniqueTags.map((tag) => (
                <Pill
                    classes="text-base px-3 py-1.5"
                    href={`/tags/${tag}`}
                    text={tag}
                />
            ))
        }
    </div>
</BaseLayout>
