---
import ArrowDown from "../assets/icons/arrow-down.svg";
import BrandLogo from "../assets/brand/logo.svg";
import Link from "./Link.astro";
import MenuIcon from "../assets/icons/menu.svg";
import Navigation from "./Navigation.astro";
import XIcon from "../assets/icons/x.svg";

type Props = {
    currentURL: string[];
};

const { currentURL } = Astro.props;
---

<header class="flex items-center justify-between h-16">
    <Link aria-label="Home" href="/" className="[&_svg]:h-8.5 [&_svg]:w-auto"
        ><BrandLogo />
    </Link>

    <nav class="max-sm:hidden flex items-center gap-8 font-medium">
        <Link
            href="/"
            className={currentURL.includes("") && currentURL.length === 1
                ? "underline underline-offset-4 decoration-wavy decoration-blue-600 text-blue-600 font-semibold"
                : ""}
            ><span>Home</span><ArrowDown />
        </Link>
        <Link
            href="/tags"
            className={currentURL.includes("tags")
                ? "underline underline-offset-4 decoration-wavy decoration-blue-600 text-blue-600 font-semibold"
                : ""}><span>Tags</span><ArrowDown /></Link
        >

        <Link
            href="/authors/"
            className={currentURL.includes("authors")
                ? "underline underline-offset-4 decoration-wavy decoration-blue-600 text-blue-600 font-semibold"
                : ""}><span>Authors</span><ArrowDown /></Link
        >
        <Link
            href="/blog"
            className={currentURL.includes("blog")
                ? "underline underline-offset-4 decoration-wavy decoration-blue-600 text-blue-600 font-semibold"
                : ""}><span>Blog</span><ArrowDown /></Link
        >
    </nav>

    <button
        aria-expanded="false"
        aria-label="main-menu"
        class="sm:hidden menu group"
    >
        <span class="block group-aria-expanded:hidden">
            <MenuIcon />
        </span>
        <span class="hidden group-aria-expanded:block">
            <XIcon />
        </span>
    </button>

    <Navigation />
</header>
