---
import "../styles/global.css";
import Header from "../components/Header.astro";

type Props = {
    pageTitle: string;
};

const { pageTitle } = Astro.props;

const currentURL = Astro.url.pathname.split("/").slice(1);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="generator" content={Astro.generator} />

        <title>{pageTitle}</title>
    </head>
    <body>
        <Header currentURL={currentURL} />
        <!-- <h1>{pageTitle}</h1> -->
        <main class="py-6">
            <slot />
        </main>
        <!-- <Footer /> -->
    </body>
</html>

<script>
    import "../scripts/menu.ts";
</script>
