---
import "../styles/global.css";
import Header from "../components/Header.astro";
import BaseHead, {
    type Props as HeadProps,
} from "../components/BaseHead.astro";

type Props = HeadProps & {
    class?: string;
};

const { ...head } = Astro.props;

const currentURL = Astro.url.pathname.split("/").slice(1);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead {...head} />
    </head>
    <body>
        <Header currentURL={currentURL} />
        <main class="mt-8">
            <slot />
        </main>
    </body>
</html>

<script src="../scripts/menu.ts"></script>
